*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

img{
	width: 100%;
	height: 100%;
}

#banner{
	width: 100%;
	height: 100vh;
	background: linear-gradient(7.73deg, #FFD5A4 31.08%, #FFF1E0 86.51%, #FFEBD4 103.89%, rgba(255, 206, 149, 0) 115.56%);
}

#amoeba{
	width: 100%;
	height: 80vh;
	bottom: 0px;
	z-index: 0;
	overflow: hidden;
	position: absolute;
}

#amoeba img{
	width: 100%;
	height: 100%;
}


#crowd{
	z-index: 5;
	width: 100%;
	bottom: 0px;
	height: 45vh;
	overflow: hidden;
	position: absolute;
}

#crowd img{
	left: -8%;
	object-fit: contain;
	position: absolute;
}

h1{
	left: 50%;
	top: 50%;
	font-weight: 900;
	font-style: normal;
	font-size: 5.5vw;
	position: absolute;
	transform: translate(0%, -100%);
}