*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: #FFD5A4;
}

#dummy-container{
	top: 50%;
	width: 100%;
	height: 75vh;
	display: flex;
	position: absolute;
	justify-content: center;
	background-color: #FFF1E0;
	transform: translateY(-50%);
}

#chat-container{
	width: 70%;
	height: 100%;
	border: 1px solid black;
	background-color: #FFFFFF;
	border: 1px solid #FFD5A4;
}

#message-section{
	width: 100%;
	height: 88%;
	display: flex;
	row-gap: 15px;
	flex-wrap: wrap;
	align-content: flex-end;
}

#message-footer-section{
	width: 100%;
	height: 12%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid #FFD5A4;
	background-color: #FFF1E0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#user-inputbar{
	width: 86%;
	height: 70%;
	border: none;
	padding: 15px;
	outline: none;
	font-size: 15px;
	border-radius: 10px;
}

#send-button{
	width: 47px;
	height: 73%;
	display: flex;
	cursor: pointer;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: white;
}

#send-button img{
	width: 60%;
	height: auto;
	object-fit: contain;
}


.message-container{
	width: 100%;
	position: relative;
	height: fit-content;
	padding: 4px 5px;
	max-height: fit-content;
}


.receivers-message{
	display: flex;
	justify-content: flex-end;
}

.message{
	padding: 10px;
	min-width: 45%;
	max-width: 45%;
	background-color: #FFD5A4;
}

.sm{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.rm{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}




@media screen and (max-width: 600px){
	.message{
		min-width: 55%;
		max-width: 55%;
	}
}