*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #5A5A5A;
}

#navbar{
	width: 100%;
	height: 20vh;
	display: flex;
	z-index: 19;
	flex-wrap: wrap;
	position: fixed;
	transition: .4s;
	/*background: linear-gradient(white, rgba(255, 255, 255, 70%));*/
	/*background-color: white;*/
}

#logo{
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo img{
	width: 100%;
	height: 80%;
	object-fit: contain;
}

#nav-links{
	width: 50%;
	height: 100%;
}


#unorderdlist{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.nav-link{
	height: 100%;
	display: flex;
	padding: 25px;
	color: #5A5A5A;
	flex-wrap: wrap;
	font-weight: 600;
	width: fit-content;
	align-items: center;
	justify-content: center;
}




















/* Account container styling started*/

#account{
	width: 25%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	font-weight: 500;
	align-items: center;
	justify-content: space-around;
}

#account button{
	width: 150px;
	color: #828282;
	outline: none;
	padding: 10px 25px;
	height: fit-content;
	border-radius: 5.85px;
	border: 0.975px solid #828282;
}

#account button:nth-child(2){
	color: white;
	background: #333333;
}

#hamburger{
	display: none;
	font-size: 35px;
	cursor: pointer;
}

/* Account container styling ended*/


















/*Second navbar styling starts*/

#second-navbar{
	width: 100%;
	height: 100%;
	z-index: 20;
	transition: .4s;
	position: fixed;
	background: linear-gradient(7.73deg, #FFD5A4 31.08%, #FFF1E0 86.51%, #FFEBD4 103.89%, rgba(255, 206, 149, 0) 115.56%);
	transform: translateX(100%);
}

#sn-header{
	width: 100%;
	height: 10%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

#close-icon-container{
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

#close-icon{
	font-size: 35px;
	cursor: pointer;
	z-index: 1;
}

#company-logo{
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	justify-content: center;
}

#company-logo img{
	width: auto;
	height: 100%;
}

#sn-menubar{
	width: 100%;
	height: 70%;

}

#sn-unorderdlist{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.sn-nav-link{
	width: 70%;
	height: 50px;
	display: flex;
	font-weight: 600;
	align-items: center;
	justify-content: center;
}

.sn-nav-link button{
	width: 150px;
	color: white;
	outline: none;
	cursor: pointer;
	padding: 10px 25px;
	background: #333333;
	height: fit-content;
	border-radius: 5.85px;
	border: 0.975px solid #828282;
}

/*Second navbar styling ends*/

























/*Media Queries starts */

@media screen and (max-width: 1100px){

	#navbar{
		justify-content: space-between;
	}

	#logo{
		width: 100%;
		height: 100%;
		position: absolute;
	}

	#account{
		width: 15%;
		position: absolute;
		right: 0px;
	}

	#nav-links{
		display: none;
	}

	#account button{
		display: none;
	}

	#hamburger{
		display: block;
	}
}






@media screen and (max-width: 700px){
	#navbar{
		height: 13vh;
	}
}






/*Media Queries ends*/